h1{
    color: blue;
}
fieldset{
    padding: 15px;
    border: 1px solid #bebebe;
    margin: 10px;
}
legend{
    width: inherit;
    color: #bebebe;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1;
    border-radius: .2rem;
}
label{
    width: inherit;
}
#country{
    width: inherit;
}
.alert-warning{
    width: inherit;
}
#mobile-error{
    display: none;
}
#age-error{
    display: none;
}
#container-2,#container-3{
    display: none;
}
.container-tabs{
    background-color: #b1b1b1;
    border-radius: inherit;
    line-height: 60px;
}
.container-tabs a{
    
        color: #000000;
        text-decoration: none;
        background-color: transparent;
        border: 1px solid black;
        padding: 10px;
        margin: 30px;
        border-radius: inherit;
    
}
.container-tabs a:hover{
    color: white;
    border-color: white;
}